/*
    Custom Stylesheet of Cross Point
*/

/* Uber Menu */
.navbar-header {
	float: left;
}

.ubermenu.ubermenu-main {
	clear: none;
	float: right;
	color: #FFF;
	padding: 20px 0px;
}

.ubermenu .ubermenu-item-level-0 > .ubermenu-target {
	text-transform: uppercase;
	font-size: 18px;
	font-family: "AvenirNextLTW01-Heavy" !important;
}

.ubermenu-submenu-type-mega > li.ubermenu-item-has-children > a > span {
    color: #a0cc3a !important;
    cursor: text;
    font-weight: bold;
    font-size: 13px;
}

.ubermenu-skin-black-white-2 .ubermenu-submenu.ubermenu-submenu-drop {
	background: #000 !important;
	border: 0 !important;
	font-size: 18px;
}

.ubermenu-submenu .ubermenu-item-header > .ubermenu-target {
    font-weight: normal !important;
    color: inherit !important;
}

.ubermenu-submenu .ubermenu-item-header > .ubermenu-target:hover {
    color: #111111 !important;
}

.ubermenu-responsive-toggle {
	float: right;
	margin-top: 15px !important;
}

/* Header Background */
.nav-bar-main{
	background: #231F20 !important;
}