/*
Theme Name: Cross Point
Theme URI: http://www.example.com/
Author: Arif Khan
Author URI: http://www.arif-khan.net/
Description: WordPress theme of Cross Point
Version: 1.0.0
Text Domain: crosspoint

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right_to_Left_Language_Support

*/

/*
body {
	direction: rtl;
	unicode-bidi: embed;
}
*/